.navbar {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  min-height: 40px !important;
}

.navbar-brand {
  padding: 0 !important;
  margin: 0 !important;
  display: flex !important;
  align-items: center !important;
}

.navbar-nav {
  margin: 0 !important;
}

.navbar-nav > li > a {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  font-size: 14px;
  line-height: 1.2;
}
